<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574559752539-mnambo454al9d0jd9c1vsfq2m48oaqrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574559752539-mnambo454al9d0jd9c1vsfq2m48oaqrc</string>
	<key>API_KEY</key>
	<string></string>
	<key>GCM_SENDER_ID</key>
	<string>574559752539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mcb.FlounceFinal</string>
	<key>PROJECT_ID</key>
	<string>flounce-2b67a</string>
	<key>STORAGE_BUCKET</key>
	<string>flounce-2b67a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574559752539:ios:23fc4044d1202be6458a7e</string>
	<key>DATABASE_URL</key>
	<string>https://flounce-2b67a.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3655879237196779~4754418178</string>
</dict>
</plist>
